{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'incidencias/CSS/editar_incidencia.css' %}">
    <title>Editar Incidencia</title>
</head>
<body>
    <h1>Editar Incidencia</h1>
    <h2>{{ incidencia.titulo }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar cambios</button>
    </form>
    <button onclick="location.href='{% url 'listar_incidencias' %}'">Cancelar</button>
</body>
</html>